body{
    background: url(yuvanth.jpg);
    background-repeat: no-repeat; 
	background-position: center;
	background-size: cover; 
	position: relative;
}
h2{
    text-align: center;
    color: #000 !important;
    margin: 0 !important;
    font-size: 150px;
}
.dept{
    font-size: 30px;
    color: darkblue;
}
.sym{
    font-weight: bold;
    text-align: center !important;
    font-size: 100px !important;
    letter-spacing: normal;
    color: rgba(0, 217, 255, 0.986) !important;
}

h6{
    text-align: center;
    color: #000!important;
}
p{
    text-align: center;
    color: #000!important;
    margin: 0 !important;
}
/* div.container{
    background:rgb(255, 255, 255);
} */